.best {
    background: url('../../src/img/bg2.jpg') center center / cover no-repeat;
    position: relative;

&__list {
      display: flex;
      justify-content: space-between;
    }

&__item {
  width: calc(100% / 3 - 1.625rem);
}

&__picture {
  display: flex;
  justify-content: center;
  margin-bottom: 1.875rem;
}

&__desc {
  text-align: center;
}

&__picture-icon {
  margin-bottom: 1.875rem;
}

&__title {
  margin-bottom: 1.875rem;
  font-size: 1.5rem;
  font-family: "Lifehack";
}

&__desc-text {
  font-size: 0.875rem;
  font-family: "Ubuntu";
  color: rgba(47, 50, 52, 0.8);
}
}

.title--color--black {
  text-align: center;
  font-size: 4.4821rem;
  font-family: "Gagalin";
  color: rgb(47, 50, 52);
  line-height: 0.889;
  margin-bottom: 3.4375rem;
}

.meat-icon {
  width: 5.9375rem;
  height: 5.9375rem;
}

.hand-icon {
  height: 5.625rem;
  width: 4.375rem;
  margin-bottom: 0.3125rem;
}

.natural-icon {
  height: 4.6875rem;
  width: 5.3125rem;
  margin-bottom: 0.3125rem;
}