.fixedmenu {

&__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 2%;
    top: 30%;
    z-index: 20;
    transform: translateY(-50%);
}

&__item {
    margin: 0.8125rem 0;
    border: 0.0625rem solid transparent;

    &--current {
    padding: 0.3125rem;
    border-radius: 50%;
    border: 0.0625rem solid white;
    }
}

    &__link {
    display: block;
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 50%;
    background-color: white;
    }
}