.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.75rem;
&__buttons {
  display: flex;
  align-items: center;
    @include tablets {
    display: none;
  }
}
}

.logo-icon {
  width: 5.3125rem;
  height: 4.6875rem;
} 