@mixin gagalin() {
	src: url('../../src/fonts/Gagalin-Regular.otf');
	font-family: 'Gagalin-Regular', Helvetica, sans-serif;
}

@mixin ubuntu($style: light) {
	src: url('../../src/fonts/Ubuntu-Light.ttf');
	font-family: 'Ubuntu', Helvetica, sans-serif;

	@if $style == light {
		font-weight: 300;
	}

	@if $style == medium {
		font-weight: 500;
	}

	@if $style == bold {
		font-weight: bold;
	}
}

@mixin lifehack() {
	src: url('../../src/fonts/Lifehack\ Medium.otf');
	font-family: 'Lifehack-Medium';
}