$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

$z-fixed-menu: 100;

@import "_normolize.scss";

@import "_fonts.scss";
@import "_layout.scss";

@import "blocks/_fixed-menu.scss";
@import "blocks/_section.scss";
@import "blocks/_hero.scss";
@import "blocks/_header.scss";
@import "blocks/_nav.scss";
@import "blocks/_btn.scss";
@import "blocks/_scroll-down.scss";
@import "blocks/_best.scss";
@import "blocks/_reviews.scss";
@import "blocks/_review.scss";
@import "blocks/_menu.scss";